## Class 1

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

1. How do you handle duplicate values in a dataset in Python?

In [ ]:
df = df.drop_duplicates(keep = "first")

2. You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests?

In [ ]:
# Python solution
merged_table = pd.merge(friend_request, request_accepted, how='left', on='requester_id')

In [ ]:
# SQL solution
SELECT COUNT(fr.requester_id) AS n_request, COUNT(ra.request_id) AS n_accepted
FROM friend_request fr
LEFT JOIN request_accepted ra ON fr.requester_id=ra.requester_id

acceptance_rate = n_accepted/n_requested

3. Do some research and summarize the business model of your dream company, or company that you interview with.
**Company:**
Curriculum Associates
**What is the product:**
i-Ready Diagnostic & Instruction
**Who are the customer:**
K-12 students, teachers, school administrators, school district administrators
**How do they make money:**
Sell subscriptions of i-Ready
**Why do you want to work for this company?**
Great product; great culture; mission aligns with my passion for edtech
**(Optional) If you were CEO, what would you do to increase company’s revenue in the next 5 years?** 
Increase sales (expand to more schools)

## Class 2

In [8]:
# read data
file_location = "E:/BitTiger BA501/"
file_name = "orders_new.csv"
my_data = pd.read_csv(file_location + file_name)

In [9]:
my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,US,2017-04-02,12624549,6720123150182430132,49.99,3659561261588336546,ANDROID_APPS
1,US,2017-04-01,12624549,17511438899767627798,0.99,3659561261588336546,ANDROID_APPS
2,US,2017-04-04,12624549,1549342062436664018,39.99,3659561261588336546,ANDROID_APPS
3,US,2017-04-04,12624549,7771425263197855716,19.99,3659561261588336546,ANDROID_APPS
4,US,2017-04-01,12624549,17943210556580942992,19.99,3659561261588336546,ANDROID_APPS

1. Similarly to PrintDailyTimeSeries() in the sample code, write a Python function called PrintCumulativeTimeSeries(). 
Specifically:
 
The function takes three inputs:
⋅⋅*experiment_id
⋅⋅*country
⋅⋅*vertical
 
The function produces two outputs:
⋅⋅*A time series chart showing the cumulative uplift (hint: search for cumsum)
⋅⋅*Print out the cumulative % uplift on revenue, experiment vs. control. Hint: (red - blue) / blue %

In [ ]:
def PrintCumulativeTimeSeries(experiment_id, country, vertical):

2. Using our data, draw a histogram which plots both US and JP data on the same plot.

3. (Optional) Write a function that can plot 10 (instead of 2) time series in our data.