In [51]:
from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

In [7]:
### import libraries
import numpy as np
import pandas as pd
import scipy

In [8]:
### variables

In [11]:
# number
x = 5
y = 6
print(x + y)

# string
my_string = "python"
print(my_string)

11
python

In [12]:
### string operation

In [18]:
# length of a string
len(my_string)

# concatenation
print(my_string + " is good")

# coercion
print(my_string + " is " + str(5))

# visit a character: 0-index
my_string[0]
my_string[-1]

# string manipulations
my_string.upper()
my_string.replace("y","yyyy") # replace all "y"s with "yyyy"
my_string.find("y")

python is good
python is 5
python

In [19]:
### list

In [ ]:
colors = ["red", "blue", "green"]
#print(colors)
#print(colors[0])
#print(len(colors))

### manipulation
# append at the bottom
colors.append("yellow")
print(colors)

# insert at any position
colors.insert(1, "pink")
print(colors)
# 能append就不要insert（一个O(1)，一个是O(n)时间复杂度）

# remove an element
colors.pop(0)
colors.remove("red")
print(colors)

# search for an element
colors.index("green")

# quiz: what if there is duplicate
colors = ["red", "blue", "blue", "green"]
colors.index("blue") # 1

# sort elements by alphabetical order
colors = ["red", "blue", "green"]
colors.sort()
print(colors)

# quiz: what about other stuff? remove duplicate?
# answer: use numpy which handles this type of stuff

In [25]:
### control flow

In [ ]:
# if/else
speed = 82
mood = "bad"

if speed >= 80:
    print 'License and registration please'
    if mood == 'terrible' or speed >= 100:
        print 'You have the right to remain silent.'
    elif mood == 'bad' or speed >= 90:
        print "I'm going to have to write you a ticket."
    else:
        print "Let's try to keep it under 80 ok?"

In [27]:
# for loop
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [28]:
# tuple
my_tuple = ("price", 5.7)
print(len(my_tuple))
print()

2

In [ ]:
### numpy

In [ ]:
# create a column vector
col_vec = np.array([[1],[2]])
print(col_vec)

# create a row vector
row_vec = np.array([[1,2]])
print(row_vec)

# create a matrix
my_matrix = np.array([[1,2], [3, 4]])
print(my_matrix)

# inspect dimensions
shape = my_matrix.shape
print("matrix rows", shape[0], "columns", shape[1])

# transpose: 转置row and column
my_matrix_t = my_matrix.transpose()
print("transposed matrix")
print(my_matrix_t)

# matrix calculation 
# addition
a = np.array([[1, 2], [3, 4]])
b = np.array([[1, 2], [3, 4]])
print("a + b")
print(a + b)

# subtraction
print("a - b")
print(a - b)

# multiplication (meaningless)
print("a * b")
print(a * b)

# matrix product
print("matrix product")
print(np.dot(a, b))

# more interesting stuff:
# on 1d array, which is essentially a list.
my_array = np.array([1, 2, 3, 4])
len(my_array)
my_array.sum()
my_array.max()
my_array.mean()

# quiz: how to remove duplicates or return unique elements?
my_array = np.array([1, 2, 2, 4, 5])
np.unique(my_array)

# other stuff:
# subset
my_array[-1]
my_array[my_array>2]

# add/remove element
np.append(my_array, 6)
np.insert(my_array, 3, 3)
np.delete(my_array, [1])

In [31]:
### pandas

In [54]:
### pandas data I/O
# data import from csv
file_location = "E:/BitTiger BA501/"
file_name = "orders_new.csv"
my_data = pd.read_csv(file_location + file_name)

my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,US,2017-04-02,12624549,6720123150182430132,49.99,3659561261588336546,ANDROID_APPS
1,US,2017-04-01,12624549,17511438899767627798,0.99,3659561261588336546,ANDROID_APPS
2,US,2017-04-04,12624549,1549342062436664018,39.99,3659561261588336546,ANDROID_APPS
3,US,2017-04-04,12624549,7771425263197855716,19.99,3659561261588336546,ANDROID_APPS
4,US,2017-04-01,12624549,17943210556580942992,19.99,3659561261588336546,ANDROID_APPS

In [ ]:
# pandas basic
df = pd.DataFrame(
    {
        "customer_id": ["A", "B", "C"],
        "date": ["5/1/2017", "5/8/2017", "5/11/2017"],
        "spend": [10, 5, 20]
    },
    #index = [1, 2, 3],
    columns = ["customer_id", "date", "spend"]
)

# describe table: number of rows and columns
df.shape

# subset columns
df["spend"]
df[["customer_id", "spend"]]

# subset rows
df.sample(n = 1)
df.head(n = 1)

In [ ]:
# select columns
my_data[["user_id","date","spend_usd"]].head(5)
my_data["user_id"].head(5)
np.unique(my_data["country"])
# [[]] is the data frame format; no [] is the series format

# select rows
my_data[1:10]
my_data[(my_data.user_id == 7250841187939126009) & (my_data.country == "JP")]
my_data[["user_id","date","spend_usd"]][(my_data.user_id == 7250841187939126009) & (my_data.country == "JP")]
# similar to sql where

# create new columns
my_data["new_column"] = my_data["spend_used"]*10
my_data.head(5)

# drop this column
my_data = my_data.drop("spend_usd_whole", axis = 1)
my_data.head(5)

In [ ]:
# change data type
# change date into date format
my_data.date = pd.to_datetime(my_data.date, format='%Y%m%d')
my_data.head(4)

In [ ]:
### pandas SQL-like operations

In [ ]:
# select *: see "select columns"

# where: see "select rows"

# group by: groupby()
result = my_data.groupby(["country"])["spend_usd"].sum()
# primary key will be changed to country - how to change it back?
result = my_data.groupby(["country"])["spend_usd"].sum().reset_index()
result = result.set_index("country")
result

# save as a new dataframe, and reset your index
# order by: sort_values()
my_data = my_data.sort_values(['country','date'],ascending=[True, True])
my_data.head(5)

# join: merge()
# left join
#pd.merge(left_table, right_table,how='left',on='x1')

# union: concat(), stack()
#pd.concat([left_table, right_table])